<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Construction Project</title>
  <link rel="stylesheet" href="../../public/css/materialize.alpha.min.css">
  <link rel="stylesheet" href="../../public/css/ionicons.min.css">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
{{> _navbar}}

<div class="container">
  {{{body}}}
</div>

  <script src="../../public/js/materialize.min.js"></script>
  <script src="../../public/js/jquery.min.js"></script>
</body>
</html>